<html>
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset OTP</title>
  </head>
  <body
    style="background:#f1f5f9; font-family:Arial, sans-serif; padding:20px;"
  >

    <div
      style="max-width:500px; margin:auto; background:#ffffff; padding:25px; border-radius:8px;"
    >

      <h2 style="color:#0f172a;">Password Reset Request</h2>

      <p style="color:#334155;">
        Hello
        <b>{{name}}</b>,
      </p>

      <p style="color:#334155;">
        We received a request to reset your password. Please use the OTP below
        to proceed:
      </p>

      <div
        style="
      font-size:26px;
      font-weight:bold;
      letter-spacing:5px;
      text-align:center;
      background:#f8fafc;
      padding:15px;
      border-radius:6px;
      margin:20px 0;
      color:#1e293b;
    "
      >
        {{otp}}
      </div>

      <p style="color:#475569;">
        ⏰ This OTP is valid for
        <b>5 minutes</b>. Do not share this OTP with anyone.
      </p>

      <p style="color:#475569;">
        If you didn’t request this, please ignore this email.
      </p>

      <hr style="margin:25px 0;" />

      <p style="font-size:12px; color:#64748b;">
        © 2026 SecureAuth. All rights reserved.
      </p>

    </div>

  </body>
</html>